<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Tennis Cordage</title>
</head>
<body>
    <h1>Bienvenue!</h1>
    <form action="/add_client" method="post">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" placeholder="Nom" required>
        
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" placeholder="Prénom" required>
        
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
        
        <label for="ville">Ville :</label>
        <input type="text" id="ville" name="ville" placeholder="Ville" required>
        
        <label for="codepostal">Code Postal :</label>
        <input type="text" id="codepostal" name="codepostal" placeholder="Code Postal" required>
        
        <label for="genre">Genre :</label>
        <input type="text" name="genre" placeholder="Genre">     
        
        <label for="datedenaissance">Date de naissance :</label>
        <input type="date" id="datedenaissance" name="datedenaissance" required>
        
        <input type="submit" value="Ajouter">
    </form>
    <script>
        function updateModeles() {
            var cordageSelect = document.getElementById('cordage_id');
            var selectedMarque = cordageSelect.options[cordageSelect.selectedIndex].value;
            var modeleSelect = document.getElementById('modele_id');
            var allCordages = {{ cordages|tojson|safe }};  // Convertir la liste Python en tableau JavaScript

            // Vider les options actuelles
            modeleSelect.innerHTML = '';
    
            // Ajouter les modèles pour la marque sélectionnée
            for (var i = 0; i < allCordages.length; i++) {
                if (allCordages[i]['fields']['Marque'] === selectedMarque) {
                    var option = document.createElement('option');
                    option.value = allCordages[i]['fields']['Modèle'];
                    option.text = allCordages[i]['fields']['Modèle'];
                    modeleSelect.appendChild(option);
                }
            }
        };
        
        function updateTailles() {
            var modeleSelect = document.getElementById('modele_id');
            var selectedModele = modeleSelect.options[modeleSelect.selectedIndex].value;
            var tailleSelect = document.getElementById('taille_id');
            var allCordages = {{ cordages|tojson|safe }};

            // Vider les options actuelles
            tailleSelect.innerHTML = '';

            // Ajouter les tailles pour la marque et le modèle sélectionnés
            for (var i = 0; i < allCordages.length; i++) {
                if (allCordages[i]['fields']['Modèle'] === selectedModele) {
                    var option = document.createElement('option');
                    option.value = allCordages[i]['fields']['Size'];
                    option.text = allCordages[i]['fields']['Size'];
                    tailleSelect.appendChild(option);
            };
        }
    }
    </script>
    <form action="/choose_cordage" method="post">
        <!-- Choix du cordage -->
        <label for="cordage_id">Marque :</label>
        <select id="cordage_id" name="cordage_id" onchange="updateModeles()">
            {% for cordage in cordages %}
                <option value="{{ cordage['fields']['Marque'] }}">{{ cordage['fields']['Marque'] }}</option>
            {% endfor %}
        </select>
        
        <!-- Choix du modèle -->
        <label for="modele_id">Modèle :</label>
        <select id="modele_id" name="modele_id" onchange="updateTailles();">
            {% for cordage in cordages %}
                <option value="{{ cordage['fields']['Modèle'] }}">{{ cordage['fields']['Modèle'] }}</option>
            {% endfor %}
        </select>

        <label for="taille_id">Taille :</label>
        <select id="taille_id" name="taille_id">
            {% for cordage in cordages %}
                <option value="{{ cordage['fields']['Size'] }}">{{ cordage['fields']['Size'] }}</option>
            {% endfor %}
        </select>
    
        <!-- Date de récupération -->
        <label for="date_recuperation">Date de récupération :</label>
        <input type="date" id="date_recuperation" name="date_recuperation">
        
        <input type="submit" value="Choisir">
    </form>
</body>
</html>